.chat-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(94, 91, 91);
}

.chat-header h1 {
  font-size: 1.5vh;
  margin-top: 0;
}

.picture{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  overflow: hidden;
  margin: 5px;
}