.img-container {
    height: auto;
    width: 100px;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    margin-left: 20px;
}

.img-container img{
    width:100%;
}

.container{
    margin-left: 20px;
}