.onboarding {
  margin: 50px auto;
}

.onboarding-container{
  display: flex;
  width: 100%;
  justify-content: center;
} 

.onboarding form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.onboarding form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  text-align: start;
}

.onboarding form input {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  border: solid 2px rgb(219, 219, 219);
  border-radius: 10px;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.onboarding form label {
  margin: 10px 0;
}

.onboarding form .multiple-input-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.onboarding form .multiple-input-container input {
  margin-right: 10px;
}

.onboarding form .multiple-input-container label {
  padding: 10px;
  border: solid 2px rgb(144, 144, 144);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right:10px;
}

.onboarding form input[type="radio"] {
  display: none;
}

.onboarding form input[type="number"] {
  width: 10%;
}

.onboarding form input[type="radio"]:checked + label {
  border: solid 2px rgb(127, 103, 197);
}

.onboarding form input[type="submit"]:hover {
  background-color: rgb(127, 103, 197);
  color: rgb(255, 255, 255);
}

.onboarding form input[type="submit"]:active {
  background-color: rgb(127, 103, 197);
}

.onboarding form .photo-container img {
  width: 100%;
}


@media only screen and (max-width: 750px){
  div.onboarding{
    width: 100%;
  }

  .onboarding form {
    flex-direction: column;
    align-content: center;
  }

  .onboarding form section{
    width: 100%;
    text-align: center;
    align-content: center;
  }

  .onboarding form .multiple-input-container label{
    margin-right:3px;

  }

  #show-gender{
    width: 100%;

  }
}
