
.home-text {
  color: #fff;
  font-weight: 600;
  font-size: 78px;
  line-height: 192px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-button {
  width: 251px;
  height: 57px;
  background: #7f67c5;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-button:hover {
  border: 2px solid #000000;
}

.sign-button:active {
  border: 1px solid #000000;
  box-shadow: inset 7px 10px 15px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 500px) {
  .home-text {
    font-size: 40px;
  }
}

.doggymatch-dog {
  width: 414px;
  height: 368px;
  background: url(../assets/img/doggymatch-dog.svg);
}

.home-testimonials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px; 
}

.testimonials-card {
  width: 281px;
  margin: 50px 0;
}

.testimonials-heading {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  color: #59575f;
}

.testimonials-text {
  font-style: normal;
  font-size: 16px;
  color: #59575f;
}
