.swipe_header .MuiIconButton-root {
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
    font-size: 3rem !important;
}

.swipe_icons {
    padding: 5px !important;
}



@media only screen and (max-width: 960px){
    div.mt-20 div.swipe_header {
        flex-direction: row;
        position: inherit;
    }
}